[submodule "3-Deploy/azure-machine-learning-terraform"]
	path = 3-Deploy/azure-machine-learning-terraform
	url = https://github.com/csiebler/azure-machine-learning-terraform
[submodule "MigrationTemplate-dstoolkit-mlops-base"]
	path = 4-Migrate/MigrationTemplate-dstoolkit-mlops-base
	url = https://github.com/microsoft/dstoolkit-mlops-base
