[submodule "2-DeployAMLOps/1-ImplementationTemplates/2-Terraform/azure-machine-learning-terraform"]
	path = 2-DeployAMLOps/1-ImplementationTemplates/2-Terraform/azure-machine-learning-terraform
	url = https://github.com/csiebler/azure-machine-learning-terraform
[submodule "3-MigrateOperateAMLOps/1-MigrationTemplate/aml-acceleration-template"]
	path = 3-MigrateOperateAMLOps/1-MigrationTemplate/aml-acceleration-template
	url = https://github.com/microsoft/aml-acceleration-template
